 body {
      background-color: rgb(196, 228, 255);
    }
    .section-text {
      margin-top: 2rem;
    }
    .img-fluid {
      max-height: 400px;
      object-fit: cover;
      border: 4px solid #0db5fd; /* Mavi tonlu kalın bir border */
      border-radius: 10px;        /* Köşeleri hafif yuvarla */
    }
    .nav-link:hover {
      background-color: #0056b3;
      color: white !important;
    }
    header {
      font-size: 1.8rem;
      font-weight: bold;
      color: darkblue;
      margin: 2rem 0;
    }
    html {
      overflow-y: scroll; /* Scrollbar'ı her zaman göster */
    }
.nav-link.active {
    font-weight: bold;
    background-color: #003d80; /* Koyu mavi arka plan */
    color: white !important;   /* Yazı rengi beyaz */
    border-radius: 5px;        /* Hafif köşe yuvarlama (isteğe bağlı) */
  }